attrs            20.3.0     21.4.0     wheel
beautifulsoup4   4.9.3      4.10.0     wheel
cachetools       4.2.1      5.0.0      wheel
certifi          2020.12.5  2021.10.8  wheel
click            7.1.2      8.0.3      wheel
dateparser       1.0.0      1.1.0      wheel
decorator        5.0.7      5.1.1      wheel
facebook-scraper 0.2.19     0.2.52     wheel
Flask            1.1.2      2.0.2      wheel
Flask-Limiter    1.4        2.1        wheel
Flask-WTF        0.14.3     1.0.0      wheel
greenlet         1.1.0      1.1.2      wheel
idna             2.10       3.3        wheel
itsdangerous     1.1.0      2.0.1      wheel
Jinja2           2.11.3     3.0.3      wheel
limits           1.5.1      2.3.0      wheel
lxml             4.6.2      4.7.1      wheel
MarkupSafe       1.1.1      2.0.1      wheel
multitasking     0.0.9      0.0.10     sdist
numpy            1.20.1     1.22.1     wheel
pandas           1.2.1      1.3.5      wheel
pefile           2019.4.18  2021.9.3   sdist
praw             7.1.4      7.5.0      wheel
prawcore         1.5.0      2.3.0      wheel
py2exe           0.10.2.0   0.11.0.1   wheel
pyee             8.1.0      9.0.0      wheel
pyppeteer        0.2.5      1.0.2      wheel
python-dateutil  2.8.1      2.8.2      wheel
pytz             2021.1     2021.3     wheel
regex            2020.11.13 2021.11.10 wheel
requests         2.25.1     2.27.1     wheel
six              1.15.0     1.16.0     wheel
soupsieve        2.1        2.3.1      wheel
SQLAlchemy       1.4.14     1.4.29     wheel
tqdm             4.56.2     4.62.3     wheel
tzlocal          2.1        4.1        wheel
urllib3          1.26.3     1.26.8     wheel
Wand             0.6.6      0.6.7      wheel
websocket-client 0.57.0     1.2.3      wheel
websockets       8.1        10.1       wheel
Werkzeug         1.0.1      2.0.2      wheel
WTForms          2.3.3      3.0.1      wheel
yfinance         0.1.55     0.1.69     wheel